body {
    color: #000000;
    background: rgba(255, 255, 255, 1);
    font-family: "Open Sans", Sans-Serif;
    font-weight: 400;
}
h1, h2, h3 {
    color: #000000;
    font-family: "Open Sans", Sans-Serif;
    font-weight: 300;
}
table.noteinformation {
    background: #f5f5ff;
    border: 1px outset #000000;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
    width: 80%;
}
table.upload {
    width: 60%;
    margin: 1em auto;
}
table.history {
    width: 100%;
}
.history th {
    font-weight: 300;
    font-size: 120%;
    white-space: nowrap;
    padding-right: 1em;
}
.history td {
    padding: .5em .5em .5em 0;
    font-size: 70%;
    white-space: nowrap;
}
p.title {
    color: #000000;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
p.caption {
    color: #000000;
    text-align: center;
    font-style: italic;
}
th {
    color: #000000;
    text-align: left;
}
a.indextitle {
    color: #000147;
    font-weight: bolder;
    font-size: 20px;
}
p.indextitle {
    text-align: left;
    font-size: 250%;
}
table.title {
    color: #000000;
    background-color: #f5f5ff;
    border: 1px outset #000000;
}
img {
    border: 0;
}
img.caption {
    border: 0;
    text-align: center;
}
code {
    color: #000000;
    font: 1.1em 'Courier New', Courier, Fixed;
    margin-left: .3em;
    margin-right: .3em;
}
pre {
    color: #000000;
    background: #eeeeee;
    border: 1px outset #000000;
    padding: 3px;
}
a:hover {
    color: #147;
    text-decoration: none;
}
a {
    color: #147;
    text-decoration: none;
}
td.title {
    color: #000000;
    font-weight: bold;
}
nav.buttons {
    width: 100%;
    display: block;
}
nav.buttons a {
    outline: none;
    display: inline-block;
    padding: 140px 4px 10px 4px;
    width: 30%;
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: 96px;
    margin: 0;
    text-align: center;
    transition: background-size 200ms ease;
}
nav.buttons a:hover {
    background-size: 115px;
}
.bborder {
    width: 43%;
    border-top: 1px solid #000000;
}
.content {
    background-color: #ffffff;
    display: block;
    position: absolute;
    width: 1200px;
    height: inherit;
    top: 50%;
    left: 50%;
    margin-left: -600px;
    margin-top: -350px;
    border-radius: 8px 8px 5px 5px;
    opacity: 0.9;
}
.visible {
    opacity: 1;
}
.subpage {
    padding-left: 35px;
    padding-right: 35px;
    text-align: -webkit-left;
    text-align: left;
}
.banner {
    margin-top: 50px;
    width: 300px;
    height: 231px;
}
.banner-subpage {
    margin-top: 0;
    width: 200px;
    height: 131px;
}
.border-subpage {
    width: 90%;
    border-bottom: 1px solid #000000;
    margin-bottom: 15px;
}
.action-content {
    width: 80%;
}
.video-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    background: rgba(0, 0, 0, 0.5);
}
.content-background {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    background-image: url(img/image-2034.png);
}
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
@media screen and (max-device-width: 850px) {
    html {
        background-color: #ffffff no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
    .content-background {
        display: none;
    }
    .content {
        margin-top: 0px;
        top: 0%;
        opacity: 1;
    }
    .video-wrapper {
        display: none;
    }
}
@media screen and (max-device-width: 1300px) {
    .content {
        width: 850px;
        margin-left: -425px;
    }
}
#users {
    background-image: url('img/nav-users.svg');
}
#devs {
    background-image: url('img/nav-devs.svg');
}
#hw {
    background-image: url('img/nav-hw.svg');
}
